ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/ProfesorWS/ProfesorWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.OOIA.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ProfesorWS" targetNamespace="http://services.OOIA.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8082/WebServicesOOIA/ProfesorWS?xsd=1" namespace="http://services.OOIA.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarProfesores">
    <part name="parameters" element="tns:insertarProfesores" />
  </message>
  <message name="insertarProfesoresResponse">
    <part name="parameters" element="tns:insertarProfesoresResponse" />
  </message>
  <message name="modificarProfesores">
    <part name="parameters" element="tns:modificarProfesores" />
  </message>
  <message name="modificarProfesoresResponse">
    <part name="parameters" element="tns:modificarProfesoresResponse" />
  </message>
  <message name="eliminarProfesor">
    <part name="parameters" element="tns:eliminarProfesor" />
  </message>
  <message name="eliminarProfesorResponse">
    <part name="parameters" element="tns:eliminarProfesorResponse" />
  </message>
  <message name="listarProfesores">
    <part name="parameters" element="tns:listarProfesores" />
  </message>
  <message name="listarProfesoresResponse">
    <part name="parameters" element="tns:listarProfesoresResponse" />
  </message>
  <portType name="ProfesorWS">
    <operation name="insertarProfesores">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/ProfesorWS/insertarProfesoresRequest" message="tns:insertarProfesores" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/ProfesorWS/insertarProfesoresResponse" message="tns:insertarProfesoresResponse" />
    </operation>
    <operation name="modificarProfesores">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/ProfesorWS/modificarProfesoresRequest" message="tns:modificarProfesores" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/ProfesorWS/modificarProfesoresResponse" message="tns:modificarProfesoresResponse" />
    </operation>
    <operation name="eliminarProfesor">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/ProfesorWS/eliminarProfesorRequest" message="tns:eliminarProfesor" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/ProfesorWS/eliminarProfesorResponse" message="tns:eliminarProfesorResponse" />
    </operation>
    <operation name="listarProfesores">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/ProfesorWS/listarProfesoresRequest" message="tns:listarProfesores" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/ProfesorWS/listarProfesoresResponse" message="tns:listarProfesoresResponse" />
    </operation>
  </portType>
  <binding name="ProfesorWSPortBinding" type="tns:ProfesorWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarProfesores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarProfesores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarProfesor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProfesores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProfesorWS">
    <port name="ProfesorWSPort" binding="tns:ProfesorWSPortBinding">
      <soap:address location="http://localhost:8082/WebServicesOOIA/ProfesorWS" />
    </port>
  </service>
</definitions>