ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/GestionEventoWS/GesionEventoWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="GesionEventoWS" targetNamespace="http://services/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/AuxiliarWS/GesionEventoWS?xsd=1" namespace="http://services/" />
    </xsd:schema>
  </types>
  <message name="eliminarEvento">
    <part name="parameters" element="tns:eliminarEvento" />
  </message>
  <message name="eliminarEventoResponse">
    <part name="parameters" element="tns:eliminarEventoResponse" />
  </message>
  <message name="insertarEvento">
    <part name="parameters" element="tns:insertarEvento" />
  </message>
  <message name="insertarEventoResponse">
    <part name="parameters" element="tns:insertarEventoResponse" />
  </message>
  <message name="modificarEvento">
    <part name="parameters" element="tns:modificarEvento" />
  </message>
  <message name="modificarEventoResponse">
    <part name="parameters" element="tns:modificarEventoResponse" />
  </message>
  <message name="listarEvento">
    <part name="parameters" element="tns:listarEvento" />
  </message>
  <message name="listarEventoResponse">
    <part name="parameters" element="tns:listarEventoResponse" />
  </message>
  <message name="listarEncuestaEvento">
    <part name="parameters" element="tns:listarEncuestaEvento" />
  </message>
  <message name="listarEncuestaEventoResponse">
    <part name="parameters" element="tns:listarEncuestaEventoResponse" />
  </message>
  <message name="insertarEncuestaEvento">
    <part name="parameters" element="tns:insertarEncuestaEvento" />
  </message>
  <message name="insertarEncuestaEventoResponse">
    <part name="parameters" element="tns:insertarEncuestaEventoResponse" />
  </message>
  <message name="modificarEncuestaEvento">
    <part name="parameters" element="tns:modificarEncuestaEvento" />
  </message>
  <message name="modificarEncuestaEventoResponse">
    <part name="parameters" element="tns:modificarEncuestaEventoResponse" />
  </message>
  <message name="eliminarEncuestaEvento">
    <part name="parameters" element="tns:eliminarEncuestaEvento" />
  </message>
  <message name="eliminarEncuestaEventoResponse">
    <part name="parameters" element="tns:eliminarEncuestaEventoResponse" />
  </message>
  <message name="listarCoordinadorEvento">
    <part name="parameters" element="tns:listarCoordinadorEvento" />
  </message>
  <message name="listarCoordinadorEventoResponse">
    <part name="parameters" element="tns:listarCoordinadorEventoResponse" />
  </message>
  <message name="eliminarCoordinadorEvento">
    <part name="parameters" element="tns:eliminarCoordinadorEvento" />
  </message>
  <message name="eliminarCoordinadorEventoResponse">
    <part name="parameters" element="tns:eliminarCoordinadorEventoResponse" />
  </message>
  <message name="modificarCoordinadorEvento">
    <part name="parameters" element="tns:modificarCoordinadorEvento" />
  </message>
  <message name="modificarCoordinadorEventoResponse">
    <part name="parameters" element="tns:modificarCoordinadorEventoResponse" />
  </message>
  <message name="insertarCoordinadorEvento">
    <part name="parameters" element="tns:insertarCoordinadorEvento" />
  </message>
  <message name="insertarCoordinadorEventoResponse">
    <part name="parameters" element="tns:insertarCoordinadorEventoResponse" />
  </message>
  <portType name="GesionEventoWS">
    <operation name="eliminarEvento">
      <input wsam:Action="http://services/GesionEventoWS/eliminarEventoRequest" message="tns:eliminarEvento" />
      <output wsam:Action="http://services/GesionEventoWS/eliminarEventoResponse" message="tns:eliminarEventoResponse" />
    </operation>
    <operation name="insertarEvento">
      <input wsam:Action="http://services/GesionEventoWS/insertarEventoRequest" message="tns:insertarEvento" />
      <output wsam:Action="http://services/GesionEventoWS/insertarEventoResponse" message="tns:insertarEventoResponse" />
    </operation>
    <operation name="modificarEvento">
      <input wsam:Action="http://services/GesionEventoWS/modificarEventoRequest" message="tns:modificarEvento" />
      <output wsam:Action="http://services/GesionEventoWS/modificarEventoResponse" message="tns:modificarEventoResponse" />
    </operation>
    <operation name="listarEvento">
      <input wsam:Action="http://services/GesionEventoWS/listarEventoRequest" message="tns:listarEvento" />
      <output wsam:Action="http://services/GesionEventoWS/listarEventoResponse" message="tns:listarEventoResponse" />
    </operation>
    <operation name="listarEncuestaEvento">
      <input wsam:Action="http://services/GesionEventoWS/listarEncuestaEventoRequest" message="tns:listarEncuestaEvento" />
      <output wsam:Action="http://services/GesionEventoWS/listarEncuestaEventoResponse" message="tns:listarEncuestaEventoResponse" />
    </operation>
    <operation name="insertarEncuestaEvento">
      <input wsam:Action="http://services/GesionEventoWS/insertarEncuestaEventoRequest" message="tns:insertarEncuestaEvento" />
      <output wsam:Action="http://services/GesionEventoWS/insertarEncuestaEventoResponse" message="tns:insertarEncuestaEventoResponse" />
    </operation>
    <operation name="modificarEncuestaEvento">
      <input wsam:Action="http://services/GesionEventoWS/modificarEncuestaEventoRequest" message="tns:modificarEncuestaEvento" />
      <output wsam:Action="http://services/GesionEventoWS/modificarEncuestaEventoResponse" message="tns:modificarEncuestaEventoResponse" />
    </operation>
    <operation name="eliminarEncuestaEvento">
      <input wsam:Action="http://services/GesionEventoWS/eliminarEncuestaEventoRequest" message="tns:eliminarEncuestaEvento" />
      <output wsam:Action="http://services/GesionEventoWS/eliminarEncuestaEventoResponse" message="tns:eliminarEncuestaEventoResponse" />
    </operation>
    <operation name="listarCoordinadorEvento">
      <input wsam:Action="http://services/GesionEventoWS/listarCoordinadorEventoRequest" message="tns:listarCoordinadorEvento" />
      <output wsam:Action="http://services/GesionEventoWS/listarCoordinadorEventoResponse" message="tns:listarCoordinadorEventoResponse" />
    </operation>
    <operation name="eliminarCoordinadorEvento">
      <input wsam:Action="http://services/GesionEventoWS/eliminarCoordinadorEventoRequest" message="tns:eliminarCoordinadorEvento" />
      <output wsam:Action="http://services/GesionEventoWS/eliminarCoordinadorEventoResponse" message="tns:eliminarCoordinadorEventoResponse" />
    </operation>
    <operation name="modificarCoordinadorEvento">
      <input wsam:Action="http://services/GesionEventoWS/modificarCoordinadorEventoRequest" message="tns:modificarCoordinadorEvento" />
      <output wsam:Action="http://services/GesionEventoWS/modificarCoordinadorEventoResponse" message="tns:modificarCoordinadorEventoResponse" />
    </operation>
    <operation name="insertarCoordinadorEvento">
      <input wsam:Action="http://services/GesionEventoWS/insertarCoordinadorEventoRequest" message="tns:insertarCoordinadorEvento" />
      <output wsam:Action="http://services/GesionEventoWS/insertarCoordinadorEventoResponse" message="tns:insertarCoordinadorEventoResponse" />
    </operation>
  </portType>
  <binding name="GesionEventoWSPortBinding" type="tns:GesionEventoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEncuestaEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarEncuestaEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarEncuestaEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarEncuestaEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCoordinadorEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCoordinadorEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCoordinadorEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCoordinadorEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="GesionEventoWS">
    <port name="GesionEventoWSPort" binding="tns:GesionEventoWSPortBinding">
      <soap:address location="http://localhost:8080/AuxiliarWS/GesionEventoWS" />
    </port>
  </service>
</definitions>