ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/CoordinadorEventoWS/CoordinadorEventoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.OOIA.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CoordinadorEventoWS" targetNamespace="http://services.OOIA.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.157.187.65:8080/WebServicesOOIA/CoordinadorEventoWS?xsd=1" namespace="http://services.OOIA.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarCoordinadorEvento">
    <part name="parameters" element="tns:listarCoordinadorEvento" />
  </message>
  <message name="listarCoordinadorEventoResponse">
    <part name="parameters" element="tns:listarCoordinadorEventoResponse" />
  </message>
  <message name="eliminarCoordinadorEvento">
    <part name="parameters" element="tns:eliminarCoordinadorEvento" />
  </message>
  <message name="eliminarCoordinadorEventoResponse">
    <part name="parameters" element="tns:eliminarCoordinadorEventoResponse" />
  </message>
  <message name="modificarCoordinadorEvento">
    <part name="parameters" element="tns:modificarCoordinadorEvento" />
  </message>
  <message name="modificarCoordinadorEventoResponse">
    <part name="parameters" element="tns:modificarCoordinadorEventoResponse" />
  </message>
  <message name="insertarCoordinadorEvento">
    <part name="parameters" element="tns:insertarCoordinadorEvento" />
  </message>
  <message name="insertarCoordinadorEventoResponse">
    <part name="parameters" element="tns:insertarCoordinadorEventoResponse" />
  </message>
  <portType name="CoordinadorEventoWS">
    <operation name="listarCoordinadorEvento">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/CoordinadorEventoWS/listarCoordinadorEventoRequest" message="tns:listarCoordinadorEvento" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/CoordinadorEventoWS/listarCoordinadorEventoResponse" message="tns:listarCoordinadorEventoResponse" />
    </operation>
    <operation name="eliminarCoordinadorEvento">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/CoordinadorEventoWS/eliminarCoordinadorEventoRequest" message="tns:eliminarCoordinadorEvento" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/CoordinadorEventoWS/eliminarCoordinadorEventoResponse" message="tns:eliminarCoordinadorEventoResponse" />
    </operation>
    <operation name="modificarCoordinadorEvento">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/CoordinadorEventoWS/modificarCoordinadorEventoRequest" message="tns:modificarCoordinadorEvento" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/CoordinadorEventoWS/modificarCoordinadorEventoResponse" message="tns:modificarCoordinadorEventoResponse" />
    </operation>
    <operation name="insertarCoordinadorEvento">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/CoordinadorEventoWS/insertarCoordinadorEventoRequest" message="tns:insertarCoordinadorEvento" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/CoordinadorEventoWS/insertarCoordinadorEventoResponse" message="tns:insertarCoordinadorEventoResponse" />
    </operation>
  </portType>
  <binding name="CoordinadorEventoWSPortBinding" type="tns:CoordinadorEventoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarCoordinadorEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCoordinadorEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCoordinadorEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCoordinadorEvento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CoordinadorEventoWS">
    <port name="CoordinadorEventoWSPort" binding="tns:CoordinadorEventoWSPortBinding">
      <soap:address location="http://54.157.187.65:8080/WebServicesOOIA/CoordinadorEventoWS" />
    </port>
  </service>
</definitions>