ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/EvaluacionWS/EvaluacionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.OOIA.pucp.edu.pe/" targetNamespace="http://services.OOIA.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarEvaluacion" type="tns:insertarEvaluacion" />
  <xs:element name="insertarEvaluacionResponse" type="tns:insertarEvaluacionResponse" />
  <xs:element name="listarEvaluacion" type="tns:listarEvaluacion" />
  <xs:element name="listarEvaluacionResponse" type="tns:listarEvaluacionResponse" />
  <xs:element name="modificarEvaluacion" type="tns:modificarEvaluacion" />
  <xs:element name="modificarEvaluacionResponse" type="tns:modificarEvaluacionResponse" />
  <xs:complexType name="listarEvaluacion">
    <xs:sequence>
      <xs:element name="id_curso_llevado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEvaluacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:evaluacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="evaluacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="cursoLlevado" type="tns:cursoLlevado" />
      <xs:element name="id_evaluacion" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="nota" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cursoLlevado">
    <xs:sequence>
      <xs:element minOccurs="0" name="alumno" type="tns:alumno" />
      <xs:element minOccurs="0" name="ciclo" type="xs:string" />
      <xs:element minOccurs="0" name="curso" type="tns:curso" />
      <xs:element minOccurs="0" name="formulaCalificacion" type="xs:string" />
      <xs:element name="id_curso_llevado" type="xs:int" />
      <xs:element name="notaFinal" type="xs:double" />
      <xs:element name="retirado" type="xs:boolean" />
      <xs:element name="vez" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:miembroPUCP">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="codigo" type="xs:string" />
          <xs:element name="craest" type="xs:double" />
          <xs:element name="creditos_aprobados" type="xs:double" />
          <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
          <xs:element name="id_alumno" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="miembroPUCP" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="fecha_inclusion" type="xs:dateTime" />
          <xs:element name="id_miembro_pucp" type="xs:int" />
          <xs:element minOccurs="0" name="imagenDePerfil" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="usuario" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_nacimiento" type="xs:dateTime" />
      <xs:element name="id_persona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id_especialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigoCurso" type="xs:string" />
      <xs:element name="creditos" type="xs:double" />
      <xs:element name="id_curso" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCurso" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarEvaluacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="evaluacion" type="tns:evaluacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarEvaluacionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEvaluacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="evaluacion" type="tns:evaluacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEvaluacionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>