ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/EvaluacionWS/EvaluacionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.OOIA.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="EvaluacionWS" targetNamespace="http://services.OOIA.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebServicesOOIA/EvaluacionWS?xsd=1" namespace="http://services.OOIA.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarEvaluacion">
    <part name="parameters" element="tns:insertarEvaluacion" />
  </message>
  <message name="insertarEvaluacionResponse">
    <part name="parameters" element="tns:insertarEvaluacionResponse" />
  </message>
  <message name="modificarEvaluacion">
    <part name="parameters" element="tns:modificarEvaluacion" />
  </message>
  <message name="modificarEvaluacionResponse">
    <part name="parameters" element="tns:modificarEvaluacionResponse" />
  </message>
  <message name="listarEvaluacion">
    <part name="parameters" element="tns:listarEvaluacion" />
  </message>
  <message name="listarEvaluacionResponse">
    <part name="parameters" element="tns:listarEvaluacionResponse" />
  </message>
  <portType name="EvaluacionWS">
    <operation name="insertarEvaluacion">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/EvaluacionWS/insertarEvaluacionRequest" message="tns:insertarEvaluacion" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/EvaluacionWS/insertarEvaluacionResponse" message="tns:insertarEvaluacionResponse" />
    </operation>
    <operation name="modificarEvaluacion">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/EvaluacionWS/modificarEvaluacionRequest" message="tns:modificarEvaluacion" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/EvaluacionWS/modificarEvaluacionResponse" message="tns:modificarEvaluacionResponse" />
    </operation>
    <operation name="listarEvaluacion">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/EvaluacionWS/listarEvaluacionRequest" message="tns:listarEvaluacion" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/EvaluacionWS/listarEvaluacionResponse" message="tns:listarEvaluacionResponse" />
    </operation>
  </portType>
  <binding name="EvaluacionWSPortBinding" type="tns:EvaluacionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarEvaluacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarEvaluacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEvaluacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EvaluacionWS">
    <port name="EvaluacionWSPort" binding="tns:EvaluacionWSPortBinding">
      <soap:address location="http://localhost:8080/WebServicesOOIA/EvaluacionWS" />
    </port>
  </service>
</definitions>