ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/GestionHumanaWS/GestionHumanaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="GestionHumanaWS" targetNamespace="http://services/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://alvaro:8080/AuxiliarWS/GestionHumanaWS?xsd=1" namespace="http://services/" />
    </xsd:schema>
  </types>
  <message name="eliminarAlumno">
    <part name="parameters" element="tns:eliminarAlumno" />
  </message>
  <message name="eliminarAlumnoResponse">
    <part name="parameters" element="tns:eliminarAlumnoResponse" />
  </message>
  <message name="listarInvitado">
    <part name="parameters" element="tns:listarInvitado" />
  </message>
  <message name="listarInvitadoResponse">
    <part name="parameters" element="tns:listarInvitadoResponse" />
  </message>
  <message name="eliminarInvitado">
    <part name="parameters" element="tns:eliminarInvitado" />
  </message>
  <message name="eliminarInvitadoResponse">
    <part name="parameters" element="tns:eliminarInvitadoResponse" />
  </message>
  <message name="listarPsicologo">
    <part name="parameters" element="tns:listarPsicologo" />
  </message>
  <message name="listarPsicologoResponse">
    <part name="parameters" element="tns:listarPsicologoResponse" />
  </message>
  <message name="insertarAlumno">
    <part name="parameters" element="tns:insertarAlumno" />
  </message>
  <message name="insertarAlumnoResponse">
    <part name="parameters" element="tns:insertarAlumnoResponse" />
  </message>
  <message name="insertarInvitado">
    <part name="parameters" element="tns:insertarInvitado" />
  </message>
  <message name="insertarInvitadoResponse">
    <part name="parameters" element="tns:insertarInvitadoResponse" />
  </message>
  <message name="modificarAlumno">
    <part name="parameters" element="tns:modificarAlumno" />
  </message>
  <message name="modificarAlumnoResponse">
    <part name="parameters" element="tns:modificarAlumnoResponse" />
  </message>
  <message name="eliminarProfesor">
    <part name="parameters" element="tns:eliminarProfesor" />
  </message>
  <message name="eliminarProfesorResponse">
    <part name="parameters" element="tns:eliminarProfesorResponse" />
  </message>
  <message name="listarProfesores">
    <part name="parameters" element="tns:listarProfesores" />
  </message>
  <message name="listarProfesoresResponse">
    <part name="parameters" element="tns:listarProfesoresResponse" />
  </message>
  <message name="listarAlumno">
    <part name="parameters" element="tns:listarAlumno" />
  </message>
  <message name="listarAlumnoResponse">
    <part name="parameters" element="tns:listarAlumnoResponse" />
  </message>
  <message name="insertarPsicologo">
    <part name="parameters" element="tns:insertarPsicologo" />
  </message>
  <message name="insertarPsicologoResponse">
    <part name="parameters" element="tns:insertarPsicologoResponse" />
  </message>
  <message name="modificarPsicologo">
    <part name="parameters" element="tns:modificarPsicologo" />
  </message>
  <message name="modificarPsicologoResponse">
    <part name="parameters" element="tns:modificarPsicologoResponse" />
  </message>
  <message name="insertarProfesores">
    <part name="parameters" element="tns:insertarProfesores" />
  </message>
  <message name="insertarProfesoresResponse">
    <part name="parameters" element="tns:insertarProfesoresResponse" />
  </message>
  <message name="modificarProfesores">
    <part name="parameters" element="tns:modificarProfesores" />
  </message>
  <message name="modificarProfesoresResponse">
    <part name="parameters" element="tns:modificarProfesoresResponse" />
  </message>
  <message name="modificarInvitado">
    <part name="parameters" element="tns:modificarInvitado" />
  </message>
  <message name="modificarInvitadoResponse">
    <part name="parameters" element="tns:modificarInvitadoResponse" />
  </message>
  <message name="eliminarPsicologo">
    <part name="parameters" element="tns:eliminarPsicologo" />
  </message>
  <message name="eliminarPsicologoResponse">
    <part name="parameters" element="tns:eliminarPsicologoResponse" />
  </message>
  <message name="listarEspecialidad">
    <part name="parameters" element="tns:listarEspecialidad" />
  </message>
  <message name="listarEspecialidadResponse">
    <part name="parameters" element="tns:listarEspecialidadResponse" />
  </message>
  <message name="insertarEspecialidad">
    <part name="parameters" element="tns:insertarEspecialidad" />
  </message>
  <message name="insertarEspecialidadResponse">
    <part name="parameters" element="tns:insertarEspecialidadResponse" />
  </message>
  <message name="modificarEspecialidad">
    <part name="parameters" element="tns:modificarEspecialidad" />
  </message>
  <message name="modificarEspecialidadResponse">
    <part name="parameters" element="tns:modificarEspecialidadResponse" />
  </message>
  <message name="eliminarEspecialidad">
    <part name="parameters" element="tns:eliminarEspecialidad" />
  </message>
  <message name="eliminarEspecialidadResponse">
    <part name="parameters" element="tns:eliminarEspecialidadResponse" />
  </message>
  <portType name="GestionHumanaWS">
    <operation name="eliminarAlumno">
      <input wsam:Action="http://services/GestionHumanaWS/eliminarAlumnoRequest" message="tns:eliminarAlumno" />
      <output wsam:Action="http://services/GestionHumanaWS/eliminarAlumnoResponse" message="tns:eliminarAlumnoResponse" />
    </operation>
    <operation name="listarInvitado">
      <input wsam:Action="http://services/GestionHumanaWS/listarInvitadoRequest" message="tns:listarInvitado" />
      <output wsam:Action="http://services/GestionHumanaWS/listarInvitadoResponse" message="tns:listarInvitadoResponse" />
    </operation>
    <operation name="eliminarInvitado">
      <input wsam:Action="http://services/GestionHumanaWS/eliminarInvitadoRequest" message="tns:eliminarInvitado" />
      <output wsam:Action="http://services/GestionHumanaWS/eliminarInvitadoResponse" message="tns:eliminarInvitadoResponse" />
    </operation>
    <operation name="listarPsicologo">
      <input wsam:Action="http://services/GestionHumanaWS/listarPsicologoRequest" message="tns:listarPsicologo" />
      <output wsam:Action="http://services/GestionHumanaWS/listarPsicologoResponse" message="tns:listarPsicologoResponse" />
    </operation>
    <operation name="insertarAlumno">
      <input wsam:Action="http://services/GestionHumanaWS/insertarAlumnoRequest" message="tns:insertarAlumno" />
      <output wsam:Action="http://services/GestionHumanaWS/insertarAlumnoResponse" message="tns:insertarAlumnoResponse" />
    </operation>
    <operation name="insertarInvitado">
      <input wsam:Action="http://services/GestionHumanaWS/insertarInvitadoRequest" message="tns:insertarInvitado" />
      <output wsam:Action="http://services/GestionHumanaWS/insertarInvitadoResponse" message="tns:insertarInvitadoResponse" />
    </operation>
    <operation name="modificarAlumno">
      <input wsam:Action="http://services/GestionHumanaWS/modificarAlumnoRequest" message="tns:modificarAlumno" />
      <output wsam:Action="http://services/GestionHumanaWS/modificarAlumnoResponse" message="tns:modificarAlumnoResponse" />
    </operation>
    <operation name="eliminarProfesor">
      <input wsam:Action="http://services/GestionHumanaWS/eliminarProfesorRequest" message="tns:eliminarProfesor" />
      <output wsam:Action="http://services/GestionHumanaWS/eliminarProfesorResponse" message="tns:eliminarProfesorResponse" />
    </operation>
    <operation name="listarProfesores">
      <input wsam:Action="http://services/GestionHumanaWS/listarProfesoresRequest" message="tns:listarProfesores" />
      <output wsam:Action="http://services/GestionHumanaWS/listarProfesoresResponse" message="tns:listarProfesoresResponse" />
    </operation>
    <operation name="listarAlumno">
      <input wsam:Action="http://services/GestionHumanaWS/listarAlumnoRequest" message="tns:listarAlumno" />
      <output wsam:Action="http://services/GestionHumanaWS/listarAlumnoResponse" message="tns:listarAlumnoResponse" />
    </operation>
    <operation name="insertarPsicologo">
      <input wsam:Action="http://services/GestionHumanaWS/insertarPsicologoRequest" message="tns:insertarPsicologo" />
      <output wsam:Action="http://services/GestionHumanaWS/insertarPsicologoResponse" message="tns:insertarPsicologoResponse" />
    </operation>
    <operation name="modificarPsicologo">
      <input wsam:Action="http://services/GestionHumanaWS/modificarPsicologoRequest" message="tns:modificarPsicologo" />
      <output wsam:Action="http://services/GestionHumanaWS/modificarPsicologoResponse" message="tns:modificarPsicologoResponse" />
    </operation>
    <operation name="insertarProfesores">
      <input wsam:Action="http://services/GestionHumanaWS/insertarProfesoresRequest" message="tns:insertarProfesores" />
      <output wsam:Action="http://services/GestionHumanaWS/insertarProfesoresResponse" message="tns:insertarProfesoresResponse" />
    </operation>
    <operation name="modificarProfesores">
      <input wsam:Action="http://services/GestionHumanaWS/modificarProfesoresRequest" message="tns:modificarProfesores" />
      <output wsam:Action="http://services/GestionHumanaWS/modificarProfesoresResponse" message="tns:modificarProfesoresResponse" />
    </operation>
    <operation name="modificarInvitado">
      <input wsam:Action="http://services/GestionHumanaWS/modificarInvitadoRequest" message="tns:modificarInvitado" />
      <output wsam:Action="http://services/GestionHumanaWS/modificarInvitadoResponse" message="tns:modificarInvitadoResponse" />
    </operation>
    <operation name="eliminarPsicologo">
      <input wsam:Action="http://services/GestionHumanaWS/eliminarPsicologoRequest" message="tns:eliminarPsicologo" />
      <output wsam:Action="http://services/GestionHumanaWS/eliminarPsicologoResponse" message="tns:eliminarPsicologoResponse" />
    </operation>
    <operation name="listarEspecialidad">
      <input wsam:Action="http://services/GestionHumanaWS/listarEspecialidadRequest" message="tns:listarEspecialidad" />
      <output wsam:Action="http://services/GestionHumanaWS/listarEspecialidadResponse" message="tns:listarEspecialidadResponse" />
    </operation>
    <operation name="insertarEspecialidad">
      <input wsam:Action="http://services/GestionHumanaWS/insertarEspecialidadRequest" message="tns:insertarEspecialidad" />
      <output wsam:Action="http://services/GestionHumanaWS/insertarEspecialidadResponse" message="tns:insertarEspecialidadResponse" />
    </operation>
    <operation name="modificarEspecialidad">
      <input wsam:Action="http://services/GestionHumanaWS/modificarEspecialidadRequest" message="tns:modificarEspecialidad" />
      <output wsam:Action="http://services/GestionHumanaWS/modificarEspecialidadResponse" message="tns:modificarEspecialidadResponse" />
    </operation>
    <operation name="eliminarEspecialidad">
      <input wsam:Action="http://services/GestionHumanaWS/eliminarEspecialidadRequest" message="tns:eliminarEspecialidad" />
      <output wsam:Action="http://services/GestionHumanaWS/eliminarEspecialidadResponse" message="tns:eliminarEspecialidadResponse" />
    </operation>
  </portType>
  <binding name="GestionHumanaWSPortBinding" type="tns:GestionHumanaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarInvitado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarInvitado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPsicologo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarInvitado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarProfesor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProfesores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPsicologo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPsicologo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarProfesores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarProfesores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarInvitado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPsicologo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="GestionHumanaWS">
    <port name="GestionHumanaWSPort" binding="tns:GestionHumanaWSPortBinding">
      <soap:address location="http://alvaro:8080/AuxiliarWS/GestionHumanaWS" />
    </port>
  </service>
</definitions>