ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/CompromisoWS/ComprimisoWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.OOIA.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ComprimisoWS" targetNamespace="http://services.OOIA.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.157.187.65:8080/WebServicesOOIA/ComprimisoWS?xsd=1" namespace="http://services.OOIA.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarCompromiso">
    <part name="parameters" element="tns:listarCompromiso" />
  </message>
  <message name="listarCompromisoResponse">
    <part name="parameters" element="tns:listarCompromisoResponse" />
  </message>
  <message name="insertarCompromiso">
    <part name="parameters" element="tns:insertarCompromiso" />
  </message>
  <message name="insertarCompromisoResponse">
    <part name="parameters" element="tns:insertarCompromisoResponse" />
  </message>
  <message name="modificarCompromiso">
    <part name="parameters" element="tns:modificarCompromiso" />
  </message>
  <message name="modificarCompromisoResponse">
    <part name="parameters" element="tns:modificarCompromisoResponse" />
  </message>
  <portType name="ComprimisoWS">
    <operation name="listarCompromiso">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/ComprimisoWS/listarCompromisoRequest" message="tns:listarCompromiso" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/ComprimisoWS/listarCompromisoResponse" message="tns:listarCompromisoResponse" />
    </operation>
    <operation name="insertarCompromiso">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/ComprimisoWS/insertarCompromisoRequest" message="tns:insertarCompromiso" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/ComprimisoWS/insertarCompromisoResponse" message="tns:insertarCompromisoResponse" />
    </operation>
    <operation name="modificarCompromiso">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/ComprimisoWS/modificarCompromisoRequest" message="tns:modificarCompromiso" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/ComprimisoWS/modificarCompromisoResponse" message="tns:modificarCompromisoResponse" />
    </operation>
  </portType>
  <binding name="ComprimisoWSPortBinding" type="tns:ComprimisoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarCompromiso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCompromiso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCompromiso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ComprimisoWS">
    <port name="ComprimisoWSPort" binding="tns:ComprimisoWSPortBinding">
      <soap:address location="http://54.157.187.65:8080/WebServicesOOIA/ComprimisoWS" />
    </port>
  </service>
</definitions>