ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/CompromisoWS/ComprimisoWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.OOIA.pucp.edu.pe/" targetNamespace="http://services.OOIA.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarCompromiso" type="tns:insertarCompromiso" />
  <xs:element name="insertarCompromisoResponse" type="tns:insertarCompromisoResponse" />
  <xs:element name="listarCompromiso" type="tns:listarCompromiso" />
  <xs:element name="listarCompromisoResponse" type="tns:listarCompromisoResponse" />
  <xs:element name="modificarCompromiso" type="tns:modificarCompromiso" />
  <xs:element name="modificarCompromisoResponse" type="tns:modificarCompromisoResponse" />
  <xs:complexType name="modificarCompromiso">
    <xs:sequence>
      <xs:element minOccurs="0" name="compromiso" type="tns:compromiso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="compromiso">
    <xs:sequence>
      <xs:element minOccurs="0" name="cita" type="tns:cita" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id_compromiso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cita">
    <xs:sequence>
      <xs:element minOccurs="0" name="alumno" type="tns:alumno" />
      <xs:element name="asistio" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigo_atencion" type="tns:codigoAtencion" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horario" type="tns:horario" />
      <xs:element name="id_cita" type="xs:int" />
      <xs:element minOccurs="0" name="motivo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:miembroPUCP">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigo_pucp" type="xs:string" />
          <xs:element name="craest" type="xs:double" />
          <xs:element name="creditos_aprobados" type="xs:double" />
          <xs:element name="cursos_por_primera" type="xs:int" />
          <xs:element name="cursos_por_segunda" type="xs:int" />
          <xs:element name="cursos_por_tercera" type="xs:int" />
          <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
          <xs:element name="estado" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="historicoCitas" nillable="true" type="tns:cita" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="historicoCursos" nillable="true" type="tns:cursoLlevado" />
          <xs:element name="id_alumno" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="miembroPUCP" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="contraseña" type="xs:string" />
          <xs:element minOccurs="0" name="fecha_inclusion" type="xs:dateTime" />
          <xs:element name="id_miembro_pucp" type="xs:int" />
          <xs:element minOccurs="0" name="imagenDePerfil" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="usuario_pucp" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element name="edad" type="xs:int" />
      <xs:element name="id_persona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element name="id_especialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre_especialidad" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cursoLlevado">
    <xs:sequence>
      <xs:element minOccurs="0" name="alumno" type="tns:alumno" />
      <xs:element minOccurs="0" name="ciclo" type="xs:string" />
      <xs:element minOccurs="0" name="curso" type="tns:curso" />
      <xs:element minOccurs="0" name="formulaDeCalificacion" type="xs:string" />
      <xs:element name="id_curso_llevado" type="xs:int" />
      <xs:element name="notaFinal" type="xs:double" />
      <xs:element name="retirado" type="xs:boolean" />
      <xs:element name="vez" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoCurso" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element name="id_curso" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCurso" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="codigoAtencion">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id_codigo_atencion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="horario">
    <xs:sequence>
      <xs:element name="dia" type="xs:int" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="horaFin" type="tns:time" />
      <xs:element minOccurs="0" name="horaInicio" type="tns:time" />
      <xs:element name="id_horario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="time">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="modificarCompromisoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCompromiso">
    <xs:sequence>
      <xs:element name="id_cita" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCompromisoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:compromiso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCompromiso">
    <xs:sequence>
      <xs:element minOccurs="0" name="compromiso" type="tns:compromiso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCompromisoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>