ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/EventoWS/EventoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.OOIA.pucp.edu.pe/" targetNamespace="http://services.OOIA.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarEvento" type="tns:eliminarEvento" />
  <xs:element name="eliminarEventoResponse" type="tns:eliminarEventoResponse" />
  <xs:element name="insertarEvento" type="tns:insertarEvento" />
  <xs:element name="insertarEventoResponse" type="tns:insertarEventoResponse" />
  <xs:element name="listarEvento" type="tns:listarEvento" />
  <xs:element name="listarEventoResponse" type="tns:listarEventoResponse" />
  <xs:element name="modificarEvento" type="tns:modificarEvento" />
  <xs:element name="modificarEventoResponse" type="tns:modificarEventoResponse" />
  <xs:complexType name="eliminarEvento">
    <xs:sequence>
      <xs:element minOccurs="0" name="evento" type="tns:evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="evento">
    <xs:sequence>
      <xs:element name="capacidad" type="xs:int" />
      <xs:element name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horaFin" type="tns:localTime" />
      <xs:element minOccurs="0" name="horaInicio" type="tns:localTime" />
      <xs:element name="id_coordinador" type="xs:int" />
      <xs:element name="id_evento" type="xs:int" />
      <xs:element minOccurs="0" name="lugar" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ponentes" nillable="true" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="persona" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element name="edad" type="xs:int" />
      <xs:element name="id_persona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEventoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEvento">
    <xs:sequence>
      <xs:element minOccurs="0" name="evento" type="tns:evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEventoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEvento">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEventoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarEvento">
    <xs:sequence>
      <xs:element minOccurs="0" name="evento" type="tns:evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarEventoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>