ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/InvitadoWS/InvitadoWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.OOIA.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="InvitadoWS" targetNamespace="http://services.OOIA.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebServicesOOIA/InvitadoWS?xsd=1" namespace="http://services.OOIA.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="modificarInvitado">
    <part name="parameters" element="tns:modificarInvitado" />
  </message>
  <message name="modificarInvitadoResponse">
    <part name="parameters" element="tns:modificarInvitadoResponse" />
  </message>
  <message name="eliminarInvitado">
    <part name="parameters" element="tns:eliminarInvitado" />
  </message>
  <message name="eliminarInvitadoResponse">
    <part name="parameters" element="tns:eliminarInvitadoResponse" />
  </message>
  <message name="insertarInvitado">
    <part name="parameters" element="tns:insertarInvitado" />
  </message>
  <message name="insertarInvitadoResponse">
    <part name="parameters" element="tns:insertarInvitadoResponse" />
  </message>
  <message name="listarInvitado">
    <part name="parameters" element="tns:listarInvitado" />
  </message>
  <message name="listarInvitadoResponse">
    <part name="parameters" element="tns:listarInvitadoResponse" />
  </message>
  <portType name="InvitadoWS">
    <operation name="modificarInvitado">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/InvitadoWS/modificarInvitadoRequest" message="tns:modificarInvitado" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/InvitadoWS/modificarInvitadoResponse" message="tns:modificarInvitadoResponse" />
    </operation>
    <operation name="eliminarInvitado">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/InvitadoWS/eliminarInvitadoRequest" message="tns:eliminarInvitado" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/InvitadoWS/eliminarInvitadoResponse" message="tns:eliminarInvitadoResponse" />
    </operation>
    <operation name="insertarInvitado">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/InvitadoWS/insertarInvitadoRequest" message="tns:insertarInvitado" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/InvitadoWS/insertarInvitadoResponse" message="tns:insertarInvitadoResponse" />
    </operation>
    <operation name="listarInvitado">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/InvitadoWS/listarInvitadoRequest" message="tns:listarInvitado" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/InvitadoWS/listarInvitadoResponse" message="tns:listarInvitadoResponse" />
    </operation>
  </portType>
  <binding name="InvitadoWSPortBinding" type="tns:InvitadoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarInvitado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarInvitado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarInvitado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarInvitado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="InvitadoWS">
    <port name="InvitadoWSPort" binding="tns:InvitadoWSPortBinding">
      <soap:address location="http://localhost:8080/WebServicesOOIA/InvitadoWS" />
    </port>
  </service>
</definitions>