ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/InvitadoWS/InvitadoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.OOIA.pucp.edu.pe/" targetNamespace="http://services.OOIA.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarInvitado" type="tns:eliminarInvitado" />
  <xs:element name="eliminarInvitadoResponse" type="tns:eliminarInvitadoResponse" />
  <xs:element name="insertarInvitado" type="tns:insertarInvitado" />
  <xs:element name="insertarInvitadoResponse" type="tns:insertarInvitadoResponse" />
  <xs:element name="listarInvitado" type="tns:listarInvitado" />
  <xs:element name="listarInvitadoResponse" type="tns:listarInvitadoResponse" />
  <xs:element name="modificarInvitado" type="tns:modificarInvitado" />
  <xs:element name="modificarInvitadoResponse" type="tns:modificarInvitadoResponse" />
  <xs:complexType name="insertarInvitado">
    <xs:sequence>
      <xs:element minOccurs="0" name="invitado" type="tns:invitado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="invitado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:miembroExterno">
        <xs:sequence>
          <xs:element name="id_invitado" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="miembroExterno" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element name="id_miembro_externo" type="xs:int" />
          <xs:element minOccurs="0" name="ocupacion" type="xs:string" />
          <xs:element name="telefono" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element name="edad" type="xs:int" />
      <xs:element name="id_persona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarInvitadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarInvitado">
    <xs:sequence>
      <xs:element minOccurs="0" name="invitado" type="tns:invitado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarInvitadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarInvitado">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarInvitadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:invitado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarInvitado">
    <xs:sequence>
      <xs:element minOccurs="0" name="invitado" type="tns:invitado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarInvitadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>